/* font style */

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,700;1,700&family=Work+Sans:wght@200;300;400;700;800;900&display=swap');
 *{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
 }
:root{
    --primary-color:#FF42A5;
    --secondary-color:linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --font-color:#534C64;
   

}

                    /* nav section style */
nav{
    width: 100%;
    height: 50px;
    display: flex;
    padding: 50px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    justify-content: space-around;

}
.nav-title{
    display: flex;
    align-items:center ;
    gap: 8px;
}
.nav-title h2{
    font-size: 45px;
    font-weight: 700;
}
.g-style{
    color:var(--primary-color);
}

.nav-icon{
    display: flex;
    gap: 20px;
}
.nav-icon ul{
    display: flex;
    gap: 25px;
}
.nav-icon li{
    list-style: none;
}
.nav-icon a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: var(--font-color);

}

.nav-button{
    padding: 10px;   
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    border: none;

}
                /* header section style */


.header-section-container{
    display: flex;
    width: 100%;
    height: 700px;
   
}
.header-description{
    width: 50%;
    background-image:url("../images/Group 14.png");
    background-repeat: no-repeat;
    
    
    
    
   
}
.header-description h2{
    font-size: 50px;
    font-weight: 600;
    color: #0B0223;
    margin-bottom:-50px;
    margin-left: 100px;
    

}
.h1{
    font-size: 100px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 70px;
    margin-bottom:-10px;
    
   
}

.list{
    display: flex;
    font-size: 20px;
    font-weight: 400;
    gap: 10px;  
    margin-left: 90px;
    
}
.header-button{
    display: flex;
    gap: 20px;
    margin-left: 70px;
}
.pink-button{
    border-radius: 48px;
    color: #FFF;
    background-color: var(--primary-color);
    padding: 15px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    width: 150px;
    
}
.blue-button{
    border-radius: 48px;
    color: #FFF;
    background-color: #4EC5F7;
    padding: 15px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    width: 150px;
}


            /* information section style */
.information{
    display: flex;
    height: 450px;
    width: 100%;
    margin-top: 100px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.info-img{
    width: 90%;
}
.info-description{
    text-align: right;
    margin-right: 250px;
}
.info-description h2{
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.info-description p{
    font-size: 18px;
    font-weight: 400;
    color: #0B0223;
}
.info-button{
    border-radius: 48px;
    color: #FFF;
    background-color: var(--primary-color);
    padding: 10px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    width: 200px;
}
                /* game-video-section-style */
.game-video{
    height: 600px;
    width: 100%;
    text-align: center;
}
.game-video-description h1{
    font-size: 48px;
    font-weight: 700;
}
.funny-video,.online{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.game-video-description p{
    font-size: 18px;
    font-weight: 400;
    margin-top: -30px;
}


.box-container{
    display: flex;
    gap: 20px;
    padding-left: 130px;
}
.box{
    height: 400px;
    width: 342px;   
}

                /* Instant-play-section */
.instant-play{
    width: 80%; 
    height: 600px;
    display: flex;
    margin-top: 50px;
    margin-left: 250px;
    gap: 200px;
    align-items: center;
}
.instant-play-description{
    text-align: right;  
}
.instant-play-description h1{
    font-size: 48px;
    font-weight: 700;
}
.play-Instantly{
    color: var(--primary-color);
}

.instant-play-img{
    height: 100%;
}
.img1{
    position: relative;
}
.img2{
    position: relative;
    bottom: 300px;
    right: 50px;
}
                /* online-game-style-section */
.online-game{
    height: 600px;
    display: flex;
    margin: 200px 180px;
    gap: 200px;
    align-items: center;
}
.online-game-img{
    height: 100%;
}
.img4{
    position: relative;
    bottom: 280px;
    left: 480px;
}
.play-game{
    color: var(--primary-color);
}
.online-game-description h1{
    font-size: 48px;
    font-weight: 700;
}

            /* careers-section-style */
.career{
    width: 100%;
    height: 700px;
    display: flex;
    background-color: var(--primary-color);
}
.career-description{
   margin: 100px;
}
.career-description h2{
    color: #FFF;
    font-size: 48px;
    font-weight: 600;
    margin-left: 40px;
}
.career-description p{
    color: #FFF;
    font-size: 18px;
    font-weight: 300;
    margin-left: 40px;
}
.list2 ul li{
    list-style: none;
    
}
.list2{
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    margin-left: -30px;
    

}
.career-button{
    padding: 21px 40px;
    border-radius: 48px;
    background: #FFF;
    color: var(--primary-color);
    border: none;
    font-size: 18px;
    margin-left: 30px;
}
                /* some-button-section-style */
  
    .some-button{        
        padding: 100px 200px;
        display: grid;
        grid-template-areas: 
        "btn1 btn2 btn3"
        "btn4 btn5 btn6"
        "btn7 btn8 btn9";
          
        
        gap: 20px;
       
       
                           
        
    }
    
    
    
    .btn{
        display: flex;
        border-radius: 50px;
        background: #FFF;
        align-items: center;
        padding: 10px 20px;
        width: 281px;
        height: 80px;
        background-color: #f9ecf4;
        border: none;
        
        
    }
    #btn1{
        grid-area: btn1;
    }
    #btn2{
        grid-area: btn2;
    }
    #btn3{
        color: var(--primary-color);
        border: 2px solid var(--primary-color);
        grid-area: btn3;
    }
    #btn4{
        grid-area: btn4;
    }
    #btn5{
        grid-area: btn5;
    }
    #btn6{
        grid-area: btn6;
    }
    #btn7{
        grid-area: btn7;
    }
    #btn8{
        grid-area: btn8;
    }
    #btn9{
        grid-area: btn9;
    }
    
                        /* footer-section-style */
    footer{
        background-color: #0B0223;
        padding: 100px 500px;
        text-align: center;
        
        
    }
    #gamer{
        margin-left:180px;
    }
    #amer{
        color: #FFF;
    }
    .li1{
        display: flex;  
        gap: 30px;
       
    }
    .li1 li{
        color: #FFF;
        list-style: none;
    }
    .icon img{
        margin-top: 30px;
        margin-right: 40px;
       
    }
    .li2{
        display: flex;
        gap: 30px;
        margin-top: 30px;
        margin-left: 30px;
    }
    .li2 li{
        color: rgba(255, 255, 255, 0.60);
        list-style: none;
        font-size: 15px;
    }
    .end-line{
        color: rgba(255, 255, 255, 0.60);
        font-size: 15px;
        margin-top: 30px;
        margin-right: 50px;
    }












@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
        height: 300px;
        padding: none;
        justify-content:unset;              
    }

    header{
        margin-top: -60px;
    }
    
    .nav-icon ul,.nav-icon{
        flex-direction: column;
        
    }
    .nav-button{
        width: 60%;
        
    }
    .header-section-container{
        flex-direction:column-reverse;
        height:100%;
        width: 100%;

    }
    
    .header-description{
        width: 100%;
        margin: 0px 50px 0px;
        
    }
    .header-description h2, .h1, .list,.header-button{
        margin-left: 0px;   
    }

    .header-img img{
        width: 100%;
        height: 50%;
    }
    .header-description h2{
        font-size: 30px;
    }
    .h1{
        font-size: 60px;
    }
    .list{
        font-size: 15px;
        margin-bottom: -10px;
    }
    .header-button{
       gap: 2px;
    
    }
    .header-button>.pink-button,.blue-button{
        padding: 8px;
        width: 120px;
        font-size: 15px;
        margin-top: 10px;
    }



                    /* information-section */

    .information{
        flex-direction: column;
        margin-top: 20px;
    }
    .info-img img{
        width: 100%;       
    }
    .info-description{
        width: 100%;
        text-align: center;
    }

                    /* game-video-section */
    .game-video-description h1{
        font-size: 25px;
        margin-top: 200px;
    }
    .game-video-description p{
        font-size: 12px;
        margin-top:0px;

    }
    .box-container{
        flex-direction: column;
        padding-left: 0px;
        
    }
    .box img{
        width: 100%;
    }
    .box{
        width: 70%;
        height: auto;
        padding-left: 50px;
    }
                /* instant-play-section */
    .instant-play{
        width: 100%; 
       
        flex-direction: column;
        margin-top: 1100px;
        margin-left:0px;
        margin-right: 50px;
        gap: 0px;
        align-items: center;  
        
    }    
    .instant-play-description{
        text-align: center;  
    }    
    .instant-play-description h1{
         font-size: 25;
    }
    
    .instant-play-img{
        width: 100%;
       
        margin-right: -110px;
       
    }
    .img1{
        width: 70%;
    }
    .img2{
        width: 35%;
        bottom: 90px;
        right: 40px;       
    }
                        /* online-game-style-section */
    .online-game{
        flex-direction: column-reverse;
        margin: 50px;
        margin-top: 400px;
        gap: 0px;
        align-items: center;
       
    }
    .online-game-img{
        width: 100%;
    }
    .img3{
        width: 100%;
    }
    .img4{
        width: 50%;
        left: 180px;
        bottom: 100px;
        
       
    }
    .online-game-description {
        text-align: center;
    }

                    /* career-section */
    .career{
        margin:50px 0px 30px -5px;
        height:auto;
        flex-direction: column;
        
    
    }
    .career-description{
        margin: 0px;
    }
    .career-description h2,.career-description p,.career-button{
        margin-left: 10px;
    }
    .career-img img{
        width: 100%;
    }
                    /* button-section */
    .some-button{
        padding: 30px 40px;
        grid-template-areas: 
        "btn1"
        "btn2"
        "btn3"
        "btn4"
        "btn5"
        "btn6"
        "btn7"
        "btn8"
        "btn9";
    }
                /* footer-section */
    footer{
        padding: 10px;
        width: 100%;
        margin-left: -10px;
    }
    #gamer{
        margin-left:50px;
    }
    .li1{
        font-size: 8px;
        gap: 15px;
        margin-left:40px;
    }
    .icon img{
        margin-top: 30px;
        margin-right: 10px;
       
      
    }
    .li2{
        font-size: 10px;
        gap: 10px;
        margin-right: 50px;
    }
    .end-line{
        margin-left: 30px;
    }

}